Repository pavel-mazhuga/pavel-mazhuga.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies_frontend, build_storybook

install_dependencies_frontend:
  image: $IMAGE_FRONTEND
  stage: install_dependencies
  variables:
    GIT_DEPTH: 5
    IMAGE_FRONTEND: node:14-alpine
    FRONTEND_PATH: .
    SSH_PORT: 22
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - $FRONTEND_PATH/node_modules/
  script:
  - cd $FRONTEND_PATH/
  - npm ci

build_storybook:
  image: $IMAGE_FRONTEND
  stage: build
  variables:
    GIT_DEPTH: 5
    IMAGE_FRONTEND: node:14-alpine
    FRONTEND_PATH: .
    SSH_PORT: 22
  cache:
    key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - $FRONTEND_PATH/node_modules/
  script:
  - cd $FRONTEND_PATH/
  - npm run storybook:build
  artifacts:
    paths:
  ...

new package-lock
  package-lock.json
Due: install_dependencies_frontend

fix ci
  .gitlab-ci.yml
Due: build_storybook

update ci doc
  .gitlab-ci.yml
Due: build_storybook

implement hot module reloading
  .env.example
  .gitignore
  package-lock.json
  package.json
  src/css/layout/_common.scss
  src/partials/layouts/default.html
  webpack/loaders/loader.resize.js
  webpack/webpack.config.common.js
  webpack/webpack.config.dev.js
Due: install_dependencies_frontend

add templates folder for .html, live reload on html files changes
  src/templates/index.html
  src/templates/offline.html
  src/templates/partials/footer.html
  src/templates/partials/header.html
  src/templates/partials/layouts/default.html
  src/templates/partials/macros/responsive.html
  src/templates/partials/open-graph.html
  src/templates/partials/svg/.gitkeep
  src/templates/partials/webp-test.html
  webpack/loaders/loader.html.js
  webpack/webpack.config.common.js
  webpack/webpack.config.dev.js
Due: none

remove dotenv
  .env.example
  package-lock.json
  package.json
  src/templates/partials/layouts/default.html
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

fix cookies agreement banner
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.ce.scss
Due: none

ci
  .gitlab-ci.yml
Due: build_storybook

add ResizeObserver type definitions
  src/js/ResizeObserver.d.ts
Due: none

.
  src/js/app.ts
  webpack/webpack.config.dev.js
Due: none

.
  src/js/polyfills.ts
  static/.gitkeep
  static/php/form-handler.php
  webpack/webpack.config.common.js
  webpack/webpack.config.dev.js
Due: none

add HTML_PATH
  webpack.settings.js
  webpack/webpack.config.common.js
Due: none

HMR
  src/html_templates/index.html
  src/html_templates/offline.html
  src/html_templates/partials/footer.html
  src/html_templates/partials/header.html
  src/html_templates/partials/layouts/default.html
  src/html_templates/partials/macros/responsive.html
  src/html_templates/partials/open-graph.html
  src/html_templates/partials/svg/.gitkeep
  src/html_templates/partials/webp-test.html
  webpack.settings.js
  webpack/loaders/loader.html.js
  webpack/webpack.config.common.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
Due: none

.
  .gitignore
  src/html_templates/index.html
Due: none

.
  src/html_templates/index.html
Due: none

dev server headers for CORS
  webpack/webpack.config.dev.js
Due: none

php hmr
  src/php_includes/css.php
  src/php_includes/js.php
  src/php_includes/webpack_mode.php
  webpack.settings.js
  webpack/plugins/plugin.bitrix-insert-hashes.js
Due: none

.
  package-lock.json
  package.json
  src/css/layout/_common.scss
  src/html_templates/partials/layouts/default.html
  src/html_templates/particles/basic.html
  src/html_templates/particles/index.html
  src/js/app.ts
  src/js/custom-elements/index.ts
  src/js/experiments/particles/particles-basic.ts
  src/js/service-worker/register-routes.js
  webpack.settings.js
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

.
  src/img/particles/1.png
  src/img/particles/10.png
  src/img/particles/11.png
  src/img/particles/12.png
  src/img/particles/13.png
  src/img/particles/2.png
  src/img/particles/3.png
  src/img/particles/4.png
  src/img/particles/5.png
  src/img/particles/6.png
  src/img/particles/7.png
  src/img/particles/8.png
  src/img/particles/9.png
  src/js/experiments/particles/particles-basic.ts
Due: none

.
  package-lock.json
  package.json
  src/html_templates/physics/index.html
  src/html_templates/physics/worker.html
  src/js/app.ts
  src/js/experiments/physics/physics-worker.ts
Due: install_dependencies_frontend

.
  package-lock.json
  package.json
  src/css/pages/_index.scss
  src/html_templates/particles/path-trailing.html
  src/js/app.ts
  src/js/experiments/base.ts
  src/js/experiments/particles/particles-basic.ts
  src/js/experiments/particles/path-trailing/index.ts
  src/js/experiments/particles/path-trailing/russia.png
  src/js/experiments/particles/path-trailing/russia.svg
  src/js/experiments/particles/path-trailing/shaders/fragment.glsl
  src/js/experiments/particles/path-trailing/shaders/vertex.glsl
  src/js/experiments/physics/physics-worker.ts
  src/js/global.d.ts
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

.
  src/css/pages/_index.scss
  src/html_templates/particles/path-trailing.html
  src/js/experiments/particles/path-trailing/index.ts
  src/js/experiments/particles/path-trailing/russia.png
  src/js/experiments/particles/path-trailing/russia.svg
  src/js/experiments/particles/path-trailing/shaders/fragment.glsl
  src/js/experiments/particles/path-trailing/shaders/vertex.glsl
  src/js/utils/index.ts
Due: none

.
  src/js/experiments/base.ts
  src/js/experiments/particles/path-trailing/index.ts
  src/js/experiments/particles/path-trailing/shaders/fragment.glsl
Due: none

.
  src/js/experiments/particles/path-trailing/index.ts
  src/js/experiments/particles/path-trailing/shaders/fragment.glsl
  src/js/experiments/particles/path-trailing/shaders/vertex.glsl
Due: none

.
  .gitlab-ci.yml
Due: build_storybook

ci
  .github/workflows/deploy.yml
Due: none

.
  src/js/experiments/particles/path-trailing/index.ts
Due: none

.
  .nojekyll
  src/js/experiments/particles/path-trailing/index.ts
Due: none

Deploying to gh-pages from @ pavel-mazhuga/pavel-mazhuga.github.io@0ff0352f21f158562691a3efe938ab65405c1d8b 🚀
  index.html
  js/legacy/app.3d308eb3.js
  js/legacy/app.3d308eb3.js.br
  js/legacy/app.3d308eb3.js.gz
  js/legacy/app.3d308eb3.js.map
  js/legacy/app.d962c2bb.js.br
  js/legacy/app.d962c2bb.js.gz
  js/legacy/app.d962c2bb.js.map
  js/modern/app.897d0e33.js
  js/modern/app.897d0e33.js.br
  js/modern/app.897d0e33.js.gz
  js/modern/app.897d0e33.js.map
  js/modern/app.ad7e83a8.js.br
  js/modern/app.ad7e83a8.js.gz
  js/modern/app.ad7e83a8.js.map
  manifest-legacy.json
  manifest-modern.json
  offline/index.html
  particles/basic/index.html
  particles/index.html
  particles/path-trailing/index.html
  physics/index.html
  physics/worker/index.html
  service-worker.js
Due: none

.
  src/html_templates/shaders/patterns.html
  src/js/app.ts
  src/js/experiments/shaders/patterns/index.ts
  src/js/experiments/shaders/patterns/shaders/fragment.glsl
  src/js/experiments/shaders/patterns/shaders/vertex.glsl
  src/js/utils/shaders/random.glsl
  src/js/utils/shaders/transformations.glsl
Due: none

.
  package-lock.json
  package.json
  src/js/experiments/shaders/patterns/index.ts
  src/js/experiments/shaders/patterns/shaders/fragment.glsl
  src/js/experiments/shaders/patterns/shaders/vertex.glsl
Due: install_dependencies_frontend

Deploying to gh-pages from @ pavel-mazhuga/pavel-mazhuga.github.io@903fdea1dc6ce72053026466031af4612e9f33ce 🚀
  index.html
  js/legacy/app.272837d1.js
  js/legacy/app.272837d1.js.br
  js/legacy/app.272837d1.js.gz
  js/legacy/app.272837d1.js.map
  js/legacy/app.f552abe5.js
  js/legacy/app.f552abe5.js.br
  js/legacy/app.f552abe5.js.gz
  js/legacy/app.f552abe5.js.map
  js/modern/app.e7d2b3ac.js
  js/modern/app.e7d2b3ac.js.br
  js/modern/app.e7d2b3ac.js.gz
  js/modern/app.e7d2b3ac.js.map
  js/modern/app.fc2030aa.js
  js/modern/app.fc2030aa.js.br
  js/modern/app.fc2030aa.js.gz
  js/modern/app.fc2030aa.js.map
  manifest-legacy.json
  manifest-modern.json
  offline/index.html
  particles/basic/index.html
  particles/index.html
  particles/path-trailing/index.html
  physics/index.html
  physics/worker/index.html
  service-worker.js
  shaders/patterns/index.html
Due: none

.
  src/js/experiments/particles/path-trailing/index.ts
  src/js/utils/shaders/transformations.glsl
Due: none

.
  src/js/experiments/shaders/patterns/shaders/fragment.glsl
  src/js/experiments/shaders/patterns/shaders/vertex.glsl
Due: none

Deploying to gh-pages from @ pavel-mazhuga/pavel-mazhuga.github.io@7731845e7d51a90fbb41676bb7042c047aa5f43a 🚀
  index.html
  js/legacy/app.c052524a.js
  js/legacy/app.c052524a.js.br
  js/legacy/app.c052524a.js.gz
  js/legacy/app.c052524a.js.map
  js/legacy/app.f552abe5.js
  js/legacy/app.f552abe5.js.br
  js/legacy/app.f552abe5.js.gz
  js/legacy/app.f552abe5.js.map
  js/modern/app.852c2876.js
  js/modern/app.852c2876.js.br
  js/modern/app.852c2876.js.gz
  js/modern/app.852c2876.js.map
  js/modern/app.fc2030aa.js
  js/modern/app.fc2030aa.js.br
  js/modern/app.fc2030aa.js.gz
  js/modern/app.fc2030aa.js.map
  manifest-legacy.json
  manifest-modern.json
  offline/index.html
  particles/basic/index.html
  particles/index.html
  particles/path-trailing/index.html
  physics/index.html
  physics/worker/index.html
  service-worker.js
  shaders/patterns/index.html
Due: none

.
  package-lock.json
  package.json
  src/html_templates/sliders/1.html
  src/js/app.ts
  src/js/experiments/sliders/1/gl-object.ts
  src/js/experiments/sliders/1/index.ts
  src/js/experiments/sliders/1/plane.ts
  src/js/experiments/sliders/1/shaders/fragment.glsl
  src/js/experiments/sliders/1/shaders/vertex.glsl
  src/js/experiments/sliders/1/styles.scss
  src/js/experiments/sliders/dom3d/dom-3d.ts
  src/js/experiments/sliders/dom3d/image/index.ts
  src/js/experiments/sliders/dom3d/image/shaders/fragment.glsl
  src/js/experiments/sliders/dom3d/image/shaders/vertex.glsl
Due: install_dependencies_frontend

Path conditions:
  install_dependencies_frontend: any of: package-lock.json
  build_storybook: any of: local/templates/main/frontend/**/*, .gitlab-ci.yml
