Repository pavel-mazhuga/pavel-mazhuga.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies_frontend, build_storybook

Path conditions:
  install_dependencies_frontend: any of: package-lock.json
  build_storybook: any of: local/templates/main/frontend/**/*, .gitlab-ci.yml

fix bitrix watch command
  package.json
Due: none

modern-build: allow one build
  webpack/plugins/plugin.modern-build.js
Due: none

delete trash
  src/index.html
Due: none

update packages
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/css/utils/_mixins.scss
  src/js/custom-elements.ts
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.ce.scss
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.stories.mdx
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.ts
  src/js/global.d.ts
  src/partials/layouts/default.html
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

fix build command
  package.json
Due: none

.
  package-lock.json
  package.json
  src/js/custom-elements.ts
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

got it working
  package-lock.json
  package.json
  webpack/loaders/loader.html.js
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

.
  package-lock.json
  package.json
  webpack/webpack.config.common.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
Due: install_dependencies_frontend

html-webpack-plugin
  package-lock.json
  package.json
  webpack/plugins/plugin.modern-build.js
  webpack/webpack.config.common.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.prod.js
Due: install_dependencies_frontend

fix html beautify
  package-lock.json
  package.json
  webpack/plugins/plugin.html-beautify.js
  webpack/webpack.config.prod.js
Due: install_dependencies_frontend

custom elements
  .prettierignore
  src/js/app.ts
  src/js/custom-elements.ts
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.stories.mdx
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.ts
  src/partials/layouts/default.html
  webpack/webpack.config.common.js
Due: none

update workbox
  package-lock.json
  package.json
  src/js/service-worker/service-worker.js
Due: install_dependencies_frontend

.
  src/js/service-worker/register-routes.js
Due: none

clean up
  src/js/components/.gitkeep
  src/js/components/vue/CookiesAgreement/CookiesAgreement.stories.mdx
  src/js/components/vue/CookiesAgreement/CookiesAgreement.vue
Due: none

clean up
  package-lock.json
  package.json
Due: install_dependencies_frontend

npm update
  package-lock.json
  package.json
  webpack/plugins/plugin.html-beautify.js
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

split up storybook
  .storybook/main.js
  .storybook/vue/main.js
  .storybook/vue/preview.js
  .storybook/wc/main.js
  .storybook/wc/preview.js
  package-lock.json
  package.json
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.stories.mdx
  tsconfig.json
  webpack/postcss.config.js
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

add responsive images generation
  README.md
  webpack/loaders/loader.resize.js
  webpack/webpack.config.common.js
Due: none

fix README
  README.md
Due: none

add static asset compression
  build/.htaccess
  src/.htaccess
  webpack.settings.js
  webpack/webpack.config.prod.js
Due: none

compression
  build/.htaccess
  src/.htaccess
Due: none

fix responsive images
  webpack/loaders/loader.resize.js
  webpack/webpack.config.common.js
Due: none

add 'includeWith' nunjucks extension
  webpack/loaders/loader.html.js
  webpack/plugins/plugin.nunjucks-include-with.js
Due: none

.
  fonts-subsets.txt
Due: none

htaccess: protect 'src' directory
  .htaccess
Due: none

add compression
  src/css/.htaccess
  src/js/.htaccess
  webpack.settings.js
  webpack/webpack.config.prod.js
Due: none

fix compression
  webpack/webpack.config.prod.js
Due: none

add nunjucks 'image_size' helper
  package-lock.json
  package.json
  webpack/helpers/image_size.js
  webpack/helpers/index.js
  webpack/loaders/loader.html.js
Due: install_dependencies_frontend

add 'responsive_img' macro
  src/helpers/index.js
  src/partials/layouts/default.html
  src/partials/macros/responsive.html
  webpack/loaders/loader.resize.js
Due: none

add responsive img macro
  README.md
  src/partials/macros/responsive.html
Due: none

responsive img macro
  src/partials/macros/responsive.html
Due: none

responsive image macro
  README.md
  src/partials/macros/responsive.html
Due: none

add postcss-clamp
  package-lock.json
  package.json
  webpack/postcss.config.js
Due: install_dependencies_frontend

add responsive-font-size mixin
  src/css/utils/_mixins.scss
Due: none

fix
  webpack/plugins/plugin.bitrix-insert-hashes.js
Due: none

ci
  .gitlab-ci.yml
Due: build_storybook

.
  .htaccess
  package-lock.json
  package.json
  webpack/webpack.config.common.js
Due: install_dependencies_frontend

.
  src/js/custom-elements/Collapse/Collapse.scss
  src/js/custom-elements/Collapse/Collapse.stories.mdx
  src/js/custom-elements/Collapse/Collapse.ts
  src/js/custom-elements/LitPopupElement/LitPopup.scss
  src/js/custom-elements/LitPopupElement/LitPopupElement.ts
  src/js/custom-elements/index.ts
  src/js/utils/css.ts
  src/js/utils/dom.ts
  src/js/utils/index.ts
Due: none

npm update
  .storybook/vue/main.js
  .storybook/wc/main.js
  package-lock.json
  package.json
  src/js/custom-elements/Collapse/Collapse.stories.mdx
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.stories.mdx
Due: install_dependencies_frontend

npm update
  .storybook/vue/main.js
  .storybook/wc/main.js
  package-lock.json
  package.json
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.stories.mdx
  src/js/custom-elements/CookiesAgreement/CookiesAgreement.ts
  src/partials/layouts/default.html
Due: install_dependencies_frontend
